---
layout: default
---
<section class="hero is-warning is-fullheight">
  <div class="hero-content">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <figure class="card-image is-square">
              <img src="{{ site.hero_image }}" alt="">
            </figure>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ site.name }}</p>
                  {% if site.twitter_username %}
                  <p class="subtitle is-6">@{{ site.twitter_username }}</p>
                  {% endif %}
                </div>
              </div>

              <div class="content">
                {{ site.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
<div class="column">
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
</div>
